<h1>New Category</h1>

<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :title%>
    <% @article.errors.full_messages_for(:name).each do |message| %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= check_box_tag (:status) %>
  </div>

  <div>
  <%= form.submit %>
  </div>
<% end %>